<h1>edit organization <%= @organization.title %></h1>

<% form_for(:organization, @organization, :url => {:action => 'update', :id => @organization.id}) do |f| %>
  <p>
    Title: <%= f.text_field 'title' %>
  </p>
  <p>
    Power: <%= f.text_field 'title' %>
  </p>
  <p>
    Body: <%= f.text_area 'body' %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>